.wrapper {
    background: black;
    padding: 1rem;
    color:purple;;
    font-size: 2rem;
}

.inverted {
    color: red;
    background: white;
    border: 1px solid black;
}

:global .something {
    font-weight: 800;
    color: aqua;
}